
.mainheader{
    display: flex;
    justify-content: space-between;
   

}
hr{
    color: aqua;
    
}
.header2{
    display: flex;
}
.skill{
    width: 160px;
    height: 160px;
    position:relative;
    
    display: flex;
    align-items: center;
    justify-items: center;
    padding-left: 41%;
    padding-top: 120px;
}
.outer{
    position: relative;
     background-color: rgb(51, 49, 49); 
    width: 460px;
    height: 310px;
    border-radius: 50%;
    /* border: 3px solid aqua; */
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 6px 6px 10px -1px rgba(0,0,0,0,15),
              -6px -6px 10px -1px rgba(255,255,255,0.7) 
}

.inner{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 3px solid aqua;
    box-shadow:inset 4px 4px 6px -1px rgba(0,0,0,0,2),
                     inset -4px -4px 6px -1px rgba(255,255,255,0.7),
                     0.5px 0.5px 0px rgba(0,0,0,0,1.5),
                     0px 12px 10px -1px rgba(0,0,0,0.05)
}
#innertext{
    font-size: larger;
    color: rgb(58, 141, 141);
    padding-top: 15%;
    padding-left: 15%;
   
}
circle{
    fill: none;
    stroke: aquamarine;
    stroke-width: 5px;
    size: 300px;
}
svg{
    position: absolute;
    top: 250px;
    left: 280px;
    size: 800px;
}